*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* SECTION ONE */

.header {
    background-color: #1F2937;
    padding: 25px 450px 50px 450px;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 60px;
}
.logo-links img {
    width: 60%;
    height: auto;
    border: 4px solid #151c25;
    border-radius: 30%;
}
.links {
    font-family: "Courier New", monospace;
    display: flex;
    gap: 25px;
    font-size: 18px;
    font-weight: bold;
}
.links a {
    color: #E5E7EB;
    text-decoration: none;
}
.links a:hover {
    color: #c7c8c9;
}

.h-context {
    display: flex;
    justify-content: space-between;
}
.h-context img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}
.context {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}
.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.sub {
    font-size: 18px;
    width: 300px;
    color: #E5E7EB;
}
.context button {
    background-color: #3882F6;
    font-size: 18px;
    width: 100px;
    color: #F9FAF8;
    padding: 4px 10px;
    border-radius: 8px;
    border: 2px solid #3882F6;
    transition-duration: 0.4s;
}
.context button:hover {
    background-color: #e4efff;
    color: #1971ff;
}

/* SECTION TWO */

.games {
    padding: 0px 200px 80px 200px;
}

.game-title {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 50px;
}

.game-image, .game-text {
    display: flex;
    justify-content: center;
    gap: 50px;   
}

.game-image img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 4px solid #3882F6;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.45);
}

.game-text div {
    width: 200px;
    text-align: center;
    margin: 10px 0px;
}

.game-text a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #34455c;
}

.game-text a:hover {
    color: #3882F6;
}

/* SECTION THREE */

.quote {
    background-color: #E5E7EB;
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    width: 800px;
}

.autor {
    width: 800px;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
}

/* SECTION FOUR */

.end {
    padding: 40px;
    margin: 80px auto;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    gap: 80px  
}
.end-box {
    display: flex;
    flex-direction: column;
}
.end-title {
    font-weight: bold;
    font-size: x-large;
}
.end button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    transition-duration: 0.4s;
}
.end button:hover {
    background-color: #0464ff;
    color: #e4efff;
}
.end-text {
    font-size: 16px;
}

/* FOOTER */

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 30px 200px;
    color: white;
}